src/main/mule/fetch-all-library-process.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	<http:request-config name="HTTP_Request_configuration_for_library_system_api" doc:name="HTTP Request configuration" doc:id="bf44f86a-751d-4780-b80d-0d2d92f0bb0a" basePath="/${library-system-api.base-path}" >
		<http:request-connection host="${library-system-api.host}" port="${library-system-api.port}" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration_for_book_system_api" doc:name="HTTP Request configuration" doc:id="e48cffb6-f013-4086-9f62-e4fb73b1b048" basePath="/${book-api.base-path}" >
		<http:request-connection host="${book-api.host}" port="${book-api.port}" />
	</http:request-config>
	<flow name="get:\libraries-process:library-process-api-config">
        <logger level="INFO" doc:name="Start" doc:id="08626ee8-e802-4c5f-a340-687769057675" message="Enter into fetch all library flow "/>
		<logger level="INFO" doc:name="Request for all library " doc:id="50220e2f-3cf0-4466-a0ba-b3273aca580e" message="Requesting the all library details from the library-system-api"/>
		<set-variable value='#[attributes.headers."correlation-id"]' doc:name="Set Variable for coorealtion id" doc:id="77fb931a-bb86-4f35-88f2-73de244a54d0" variableName="corelation_id"/>
		<http:request method="GET" doc:name="Request for all libraries" doc:id="835a6b66-99d0-4ee1-96c0-624c8a7f1baf" config-ref="HTTP_Request_configuration_for_library_system_api" path="/${library-system-api.get-all-library}" target="all_library_details">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client-id" : "d7ccfd0ae49a41f29ca31351c828da3b",
	"client-secret" : "5f97D63a46a9470Aa22b1966A85659b1",
	"correlation-id" : vars.corelation_id
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Make choice" doc:id="12092a1c-aa83-4d12-a276-95f90279e1a4" message="making choice based on libraies are there or not"/>
		<choice doc:name="Choice" doc:id="838cf591-6bca-45a2-a975-58a52f4eceb1" >
			<when expression="#[vars.all_library_details == []]">
				<logger level="INFO" doc:name="Libraries are not found " doc:id="c8edbd13-0b7a-4369-9ac6-275d283a3502" message="Libraries are not found !!"/>
				<raise-error doc:name="Raise error for libraries not found " doc:id="ebde9341-02a6-454d-9e7d-7922f35fb862" type="LIBRARY:NOT_FOUND" description="The libraries are not found !"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="libraries are found" doc:id="26d10422-a09b-49c0-b8bd-ea79d35f87b6" message="All the libraries are found "/>
				<logger level="INFO" doc:name="Request for all books" doc:id="2883b92b-8bbe-48b1-86bb-8178547983ca" message="Requesting for the all books details"/>
				<http:request method="GET" doc:name="Request for all the books" doc:id="e25f5099-9c3e-4849-a14d-06c26981cdca" config-ref="HTTP_Request_configuration_for_book_system_api" path="/${book-api.get-all-book}" target="book_details">
			<http:headers><![CDATA[#[output application/java
---
{
	"client-id" : "88f0a6dca0154c8abd9b8d40cb458a33",
	"co-relation-id" : vars.corelation_id,
	"client-secret" : "3DFEF2cBF95544369AFE7FB2a5632416"
}]]]></http:headers>
		</http:request>
				<logger level="INFO" doc:name="Book fetched" doc:id="956cb708-c98e-4cc3-a1f0-a44aeb66a375" message="All the books are fetched from the book system api" />
				<logger level="INFO" doc:name="Set response" doc:id="7025810a-9b55-4a9e-9ccf-df9babeea962" message="Setting the response for all libraries"/>
				<ee:transform doc:name="Transform Message" doc:id="2dd7dca5-46e7-4720-92ed-f5693f76d5e3">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	libraries: (vars.all_library_details map ( alllibrarydetail , indexOfAlllibrarydetail ) -> {
		library_code: alllibrarydetail.library_code,
		library_branch: alllibrarydetail.library_branch_name,
		total_books: sum((vars.book_details filter ((item, index) -> item.libraryCode == alllibrarydetail.library_code)).total_books) default 0,
		available_books: sum((vars.book_details filter ((item, index) -> item.libraryCode == alllibrarydetail.library_code)).available_books) default 0,
		books_rented: sum((vars.book_details filter ((item, index) -> item.libraryCode == alllibrarydetail.library_code)).rented_books) default 0
	})
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="End" doc:id="b55c07a2-6a09-4879-8ee0-7ad6b4eeb0ac" message="Return from fetch all library flow"/>
    
</flow>


</mule>
